@model IEnumerable<AgriEnergyConnect.Data.ApplicationUser>
@using AgriEnergyConnect.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="container mt-4">
    <h1 class="mb-4">Users</h1>

    <p>
        <a asp-action="Create" class="btn btn-success">Create New</a>
    </p>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Email</th>
                <th>Admin Actions</th>
                <th>Farmer Actions</th>
                <th>Employee Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => user.Email)</td>
                    <td>
                        @if (User.IsInRole("Administrator"))
                        {
                            <form asp-action="MakeRemoveAdmin" method="post" class="d-inline">
                                <input type="hidden" name="uId" value="@user.Id" />
                                @if (await UserManager.IsInRoleAsync(user, "Administrator"))
                                {
                                    <button type="submit" class="btn btn-danger btn-sm">Remove Admin</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary btn-sm">Make Admin</button>
                                }
                            </form>
                        }
                    </td>
                    <td>
                        <form asp-action="MakeRemoveFarmer" method="post" class="d-inline">
                            <input type="hidden" name="uId" value="@user.Id" />
                            @if (await UserManager.IsInRoleAsync(user, "Farmer"))
                            {
                                <button type="submit" class="btn btn-danger btn-sm">Remove Farmer</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary btn-sm">Make Farmer</button>
                            }
                        </form>
                    </td>
                    <td>
                        @if (User.IsInRole("Administrator"))
                        {
                            <form asp-action="MakeRemoveEmployee" method="post" class="d-inline">
                                <input type="hidden" name="uId" value="@user.Id" />
                                @if (await UserManager.IsInRoleAsync(user, "Employee"))
                                {
                                    <button type="submit" class="btn btn-danger btn-sm">Remove Employee</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary btn-sm">Make Employee</button>
                                }
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>