@model IEnumerable<AgriEnergyConnect.Data.ApplicationUser>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete Account</h1>
@if (!User.IsInRole("Adminitrator"))
{
<p>Are you sure you want to delete their account?</p>

<form method="post" asp-action="SelfDeleteAccount">
    <button type="submit" class="btn btn-danger">Delete Account</button>
    <a asp-page="/Index">Cancel</a>
    </form>
}
else
{
    <p>Are you sure you want to delete your account?</p>

    <form method="post" asp-action="DeleteAccountConfirmed">
        <button type="submit" class="btn btn-danger">Delete Account</button>
        <a asp-page="/Index">Cancel</a>
    </form>
}


