@model IEnumerable<AgriEnergyConnect.Data.ApplicationUser>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete Account</h1>

<p>Are you sure you want to delete their account?</p>

<form method="post" asp-action="DeleteAccount">
    <button type="submit" class="btn btn-danger">Delete Account</button>
    <a asp-page="/Index">Cancel</a>
</form>




